In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import seaborn as sb # visualization
from sklearn.preprocessing import StandardScaler # data normalization
from sklearn.cluster import KMeans

In [2]:
df=pd.read_csv("Test_Scenario6.csv")

In [4]:
labelencoder_1 = LabelEncoder()
labelencoder_2 = LabelEncoder()
labelencoder_3 = LabelEncoder()
df['Gender'] = labelencoder_1.fit_transform(df['GENDER'])
df['PC'] = labelencoder_2.fit_transform(df['PRODUCT CODE'])
df['Source'] = labelencoder_3.fit_transform(df['SOURCE'])

In [6]:
df.columns

Index(['CUSTOMER_NUMBER', 'GENDER', 'AGE', 'COUNTRY', 'MARITAL_STATUS',
       'SOURCE', 'PRODUCT CODE', 'TRANS DATE', 'TRANSNUM', 'LIFEMILES_POINTS',
       'TIER_POINTS', 'BASE_POINTS', 'BONUS_POINTS', 'Gender', 'PC', 'Source'],
      dtype='object')

In [7]:
df=df[['CUSTOMER_NUMBER',
        'LIFEMILES_POINTS',
       'TIER_POINTS', 'BASE_POINTS', 'BONUS_POINTS', 'Gender', 'PC', 'Source']]

In [8]:
df.set_index('CUSTOMER_NUMBER', inplace = True)

In [9]:
X = df.values
X = np.nan_to_num(X)

In [10]:
sc = StandardScaler()

cluster_data = sc.fit_transform(X)

C:\Users\Rohit\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\Rohit\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [11]:
clusters = 3
model = KMeans(init = 'k-means++', 
               n_clusters = clusters, 
               n_init = 12)
model.fit(X)

labels = model.labels_

In [12]:
df['cluster_num'] = labels
df.head()

C:\Users\Rohit\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,LIFEMILES_POINTS,TIER_POINTS,BASE_POINTS,BONUS_POINTS,Gender,PC,Source,cluster_num
CUSTOMER_NUMBER,,,,,,,,
1007,0,0,11,0,0,13,2,0
10101,0,0,75,0,1,10,2,0
10101,0,0,500,0,1,10,2,2
10101,0,0,500,0,1,10,2,2
10104,0,0,75,0,1,10,2,0

In [13]:
clusters=df.groupby('cluster_num').mean()

In [14]:
clusters

,LIFEMILES_POINTS,TIER_POINTS,BASE_POINTS,BONUS_POINTS,Gender,PC,Source
cluster_num,,,,,,,
0,0.0,0.0,80.083871,22.961290,1.396774,5.508387,1.984516
1,0.0,0.0,1350.092736,0.927357,1.752705,9.953632,2.081917
2,0.0,0.0,527.523810,14.166667,1.484127,9.854497,1.891534

In [16]:
clusters.reset_index().to_csv('cluster_info.csv')

In [17]:
df.to_csv('customer_cluster.csv')